@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Evita scroll duplo no mobile */
html, body, #root {
  height: 100%;
}
